.formTaks {
    display: grid;
    grid-template-columns: 638px 1fr;
    gap: 0.5rem;
  
    margin: calc(0px - 1.6875rem) auto;
    margin-top: calc(0px - 1.6875rem);
  
    max-width: 46rem;
  }

  .buttonTaskBox {
    display: flex;
    align-items: center;

    cursor: pointer;
  
    background: var(--blue-500);
  
    padding: 1rem;
    gap: 0.5rem;
  
    font-size: 0.875rem;
    line-height: calc(0.875rem * 1.4);
  
    border: none;
    border-radius: 0.5rem;
  
    color: var(--white);
    font-weight: bold;

    transition: background-color 1s;
  }

  .buttonTaskBox:hover {
    background: var(--blue-200);
  }

  .taskBox {
    display: grid;
    max-width: 46rem;

    margin: calc(4rem + (3.375rem / 2)) auto 0;
}

.boxAlertErrorMessage {
  display: flex;

  max-width: 46rem;

  margin: 2.5rem auto 0px;
}

.alertErrorMessage {
  color: var(--red-500);

  font-size: 0.875rem;
}
