.inputTask {
  border: none;
  border-radius: 0.5rem;
  
  background: var(--gray-500);
  padding: 1rem;
}

.inputTask:focus {
  color: var(--white);

  box-shadow: 0 0 0 2px var(--purple-500);
}
